/*Survey Form styles.css*/
/*body styles*/
 body {
    background: rgba(83, 158, 201, 0.3) url("https://cdn.pixabay.com/photo/2019/07/29/04/35/student-4369850_1280.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-size: 16px;
    overflow-x: hidden;
    font-family: Arial, Verdana, sans-serif;
    color: #000;
}

  
/*body before pseudo-element styles*/
    body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 49, 137, 0.5);
    z-index: -1;
    opacity: 0.9;


    }

   
    /*class form group and p styles*/
 .form-group p {
        margin: 0;
        padding: 5px;
        font-size: 1.2em;
        color: #fff;
        font-weight: normal;
        text-align: left;
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        font-family: Arial, Verdana, sans-serif;

 }
 /*class input-checkbox & input-radio style*/
 .input-checkbox, .input-radio {
    margin-right: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    scroll-behavior: smooth; 
    box-sizing: border-box; 

}
 
 /*input id styles*/
 #name, #number, #dropdown, #comments, #checkbox, #submit, #email, #most-like {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    box-shadow: 2px solid rgba(20, 124, 60, 0.5);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    color: #000;
    background: #fff;
    resize: none;
    font-family: Arial, Verdana, sans-serif;
    margin-bottom: 10px;
    overflow: hidden;
    scroll-behavior: smooth;

 }

 /*class form group styles*/
 .form-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2em;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;

} 
/*form group label styles*/
 .form-group label {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 1.2em;
    color: #fff;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

 /*id survey-form style*/                 
 #survey-form  {
    font-family: Arial, Verdana, sans-serif;
    font-size: 1em;
    background-color: rgba(3, 2, 35, 0.7);
    background-size: cover;
    box-sizing: border-box;
    padding: 20px;
    height: auto;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 1px 2px rgba(140, 148, 211, 0.3);
    margin: 20px auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: none;
    z-index: 2;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    line-height: 1.4;
    scroll-behavior: smooth;
    
}

#description {
    font-family: Arial, Verdana, sans-serif;
    font-style: italic;
    margin-top: -10px;
    font-size: 1.3em;
    margin-bottom: 10px;
    color: #fff;
    text-shadow: 1px 1px 3px #000000;
    text-align: center;
    line-height: 1.2;
    font-weight: normal;
    display: block;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*h1 id style*/
#title {
    font-family: Arial, Verdana, sans-serif;
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #fff;
    text-shadow: 1px 1px 3px #000000;
    text-align: center; 
    line-height: 1.2;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding: 0 auto;

}

 /*class input-textarea style*/
 .input-textarea  {
    width: 100%;
    height: 75px;
    font-size: 1rem;
    color: #000;
    background: #fff;
    border: 2px solid rgba(68, 199, 118, 0.3);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    resize: none;
    font-family: Arial, Verdana, sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    scroll-behavior: smooth;

 }

    .Clue {
    font-size: 0.8em;
    color: #ddd;
    font-style: italic;
    font-weight: normal;
    margin-left: 5px;
    display: inline;

    }

  /* submit button style*/
#submit {
    width: 100%;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 1.50rem;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    letter-spacing: 0.05em;
    height: 50px;
    box-shadow: 0 2px 4px rgba(5, 229, 120, 0.5);
    color: #fff;
    background-color: #20c760;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.15s ease-out;
    margin-top: 10px;
    scroll-behavior: smooth;
    overflow: hidden;

}

#submit:hover {
    color: rgb(6, 19, 255);
    background-color: #fff;
    transform: scale(0.75);
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    outline: none;
    box-shadow: 0 1px 2px 1px rgba(3, 2, 35, 0.3);
 }


#submit:active {
    background-color: rgba(3, 2, 35, 0.3);;
    transform: scale(0.3s);
    color: #fff;
    font-size: 2rem;
    font-weight: 600;

}

/*style for @media query*/
@media (min-width: 640px) {
   .input-checkbox {
    margin-right: 5px;
    display: inline-block;
    width: 15px;
    height: 15px;


    }
    #submit {
        max-width:18rem;
        margin: 0 auto;
    }

    .input-radio {
    margin-right: 5px;
    display: inline-block;
    width: 15px;
    height: 15px;

    }

    body {
        padding: 10px;
        background-image: url("https://cdn.pixabay.com/photo/2019/07/29/04/35/student-4369850_1280.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat 

    }
    
}
 @media (prefers-reduced-motion: no-preference) {
  * {
  scroll-behavior: smooth;

  }
}